CompileFlags:
    Add:
        - '-fshort-wchar'
    CompilationDatabase: './builddir'
    BuiltinHeaders: QueryDriver

Completion:
    HeaderInsertion: Never

Style:
    AngledHeaders:
        - './include/.*'
